In [1]:
import plotly.graph_objects as go

In [2]:
import pandas as pd

In [5]:
df_hist = pd.read_csv('historical_data.csv', index_col=[0])
df_book = pd.read_csv('book_data.csv', index_col=[0])

In [21]:
df_hist.shape

(54417, 3)

In [19]:
df_book.head()

,date,preco,tipo,ativo,exchange,vol,logo_url,valor_total
0,2021-07-23T00:00:00,123,Venda,ITUB4,BMFBOVESPA,10000,https://logo.clearbit.com/itau.com.br,500
1,2018-02-02T00:00:00,123,Compra,MGLU3,BMFBOVESPA,7500,https://logo.clearbit.com/magazineluiza.com.br,500
2,2018-02-02T00:00:00,123,Venda,TTEN3,BMFBOVESPA,15000,https://logo.clearbit.com/ri.3tentos.com.br,500
3,2018-02-02T00:00:00,123,Compra,VALE3,BMFBOVESPA,29000,https://logo.clearbit.com/vale.com.br,500
4,2018-02-02T00:00:00,123,Compra,LREN3,BMFBOVESPA,50000,https://logo.clearbit.com/lojasrenner.com.br,500

In [ ]:
fig = go.Figure()
fig.add_trace(go.Indicator(
    mode = 'number+delta'

In [20]:
df_hist[df_hist['symbol'].str.contains('|'.join('ITUB4'))]

                  datetime            symbol          close
0      2002-11-29 09:00:00  BMFBOVESPA:ITUB4       0.391348
1      2002-12-02 09:00:00  BMFBOVESPA:ITUB4       0.402449
2      2002-12-03 09:00:00  BMFBOVESPA:ITUB4       0.395973
3      2002-12-04 09:00:00  BMFBOVESPA:ITUB4       0.395973
4      2002-12-05 09:00:00  BMFBOVESPA:ITUB4       0.384872
...                    ...               ...            ...
54412  2023-02-08 09:00:00     VANTAGE:BVSPX  108292.440000
54413  2023-02-09 09:00:00     VANTAGE:BVSPX  106131.590000
54414  2023-02-10 09:00:00     VANTAGE:BVSPX  106194.920000
54415  2023-02-13 09:00:00     VANTAGE:BVSPX  107097.170000
54416  2023-02-14 09:00:00     VANTAGE:BVSPX  105624.400000

[54417 rows x 3 columns]

In [23]:
df_hist[df_hist.symbol.str.contains('ITUB4')]

                  datetime            symbol      close
0      2002-11-29 09:00:00  BMFBOVESPA:ITUB4   0.391348
1      2002-12-02 09:00:00  BMFBOVESPA:ITUB4   0.402449
2      2002-12-03 09:00:00  BMFBOVESPA:ITUB4   0.395973
3      2002-12-04 09:00:00  BMFBOVESPA:ITUB4   0.395973
4      2002-12-05 09:00:00  BMFBOVESPA:ITUB4   0.384872
...                    ...               ...        ...
41587  2023-02-09 10:00:00  BMFBOVESPA:ITUB4  25.920000
41588  2023-02-10 10:00:00  BMFBOVESPA:ITUB4  25.799999
41589  2023-02-13 10:00:00  BMFBOVESPA:ITUB4  26.709999
41590  2023-02-14 10:00:00  BMFBOVESPA:ITUB4  26.379999
41591  2023-02-15 10:00:00  BMFBOVESPA:ITUB4  26.710000

[15047 rows x 3 columns]